<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
			<h2 th:if="${products.isEmpty()}">No hay productos</h2>
			<div>
				<h2 th:if="${!products.isEmpty()}" >Productos</h2>
				<div>
					<a href="/save/init" class="btn btn-primary">Agregar</a>
				</div>
				<br>
				<table th:if="${!products.isEmpty()}" class="table">
					<tbody>
						<tr th:each="product: ${products}">
							<td th:text="${product.name}">
							<td>
								<a class="btn btn-outline-success btn-sm" th:href="@{/sale/{id}(id=${product.id})}">Venta</a>
							</td>
							<td>
								<a class="btn btn-outline-primary btn-sm" th:href="@{/save/{id}(id=${product.id})}">Compra</a>
							</td>
							<td>
								<a class="btn btn-outline-dark btn-sm" th:href="@{/detail/{id}(id=${product.id})}">Ver</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</body>
</html>