<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-dark bg-primary bgn">
  			<a class="navbar-brand bgn-text" href="/">
    			<img src="https://informacion.todo1services.com/hubfs/Todo_February2019%20/images/t1-newlogo-white.png" width="60" height="35" class="d-inline-block align-top" alt="">
    			Kardex Todo1
  			</a>
		</nav>
		<br>
		<h2>Realizar Venta</h2>
		<div class="card text-center">
  			<div class="card-header">
    			<h5 class="card-title" th:text="${product.name}"></h5>
  			</div>
  			<div class="card-body">
    			<form action="#" th:action="@{/sale}" class="form-group" method="POST">
    				<div class="form-group">
						<input type="hidden" class="form-control" id="id" name="id" th:value=${product.id}>
					</div>
					<div class="form-group">
						<label for="stock">Numero de unidades</label>
						<input min="1" th:attr="max=${kardex.stockInventory}" type="number" step=any class="form-control" id="stock" name="stock" th:value=${kardex.stock} required="required">
					</div>
					<div class="form-group">
						<label for="description">Descripción</label>
						<input type="text" class="form-control" id="description" name="description" th:value=${bill.description} placeholder="¿Quien es el Vendedor? ¿Quien es el Comprador?">
					</div>
					<button type="submit" class="btn btn-primary">Realizar Venta</button>
				</form>
  			</div>
		</div>
	</div>
</body>
</html>