<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-dark bg-primary bgn">
  			<a class="navbar-brand bgn-text" href="/">
    			<img src="https://informacion.todo1services.com/hubfs/Todo_February2019%20/images/t1-newlogo-white.png" width="60" height="35" class="d-inline-block align-top" alt="">
    			Kardex Todo1
  			</a>
		</nav>
		<br>
		<h2>Agregar producto</h2>
		<form action="#" th:action="@{/save}" class="form-group" method="POST">
			<div class="form-group">
				<input type="hidden" class="form-control" id="id" name="id" th:value=${product.id}>
			</div>
			<div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" class="form-control" id="name" name="name" th:value=${product.name}>
			</div>
			<div class="form-group">
				<label for="type">Tipo</label>
				<input type="text" class="form-control" id="type" name="type" th:value=${product.type}>
			</div>
			<div class="form-group">
				<label for="description">Descripción</label>
				<input type="text" class="form-control" id="description" name="description" th:value=${product.description}>
			</div>
			<div class="form-group">
				<label for="stock">Cantidad</label>
				<input min="1" type="number" step="any" class="form-control" id="stock" name="stock" th:value=${kardex.stock}>
			</div>
			<div class="form-group">
				<label for="unitPrice">Precio Unitario</label>
				<input min="1" type="number" step="any" class="form-control" id="unitPrice" name="unitPrice" th:value=${kardex.unitPrice}>
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
</body>
</html>